.image1 {
    height: 110px;
    z-index: 100;
    position: absolute;
    margin-top: -190px;
    margin-left: -20px;
}

.image2 {
    height: 110px;
    z-index: 100;
    position: absolute;
    margin-top: -320px;
    margin-left: -150px;
}

.image3 {
    height: 110px;
    z-index: 100;
    position: absolute;
    margin-top: -240px;
    margin-left: -175px;
}

.image4 {
    height: 110px;
    z-index: 100;
    position: absolute;
    margin-top: -170px;
    margin-left: -165px;
}

.image5 {
    height: 110px;
    z-index: 100;
    position: absolute;
    margin-top: -100px;
    margin-left: -175px;
}