.image2 {
    height: 200px;
    z-index: 100;
    position: absolute;
    margin-top: -620px;
    margin-left: -290px;
}

.image3 {
    height: 200px;
    z-index: 100;
    position: absolute;
    margin-top: -470px;
    margin-left: -340px;
}

.image4 {
    height: 200px;
    z-index: 100;
    position: absolute;
    margin-top: -320px;
    margin-left: -315px;
}

.image5 {
    height: 200px;
    z-index: 100;
    position: absolute;
    margin-top: -170px;
    margin-left: -340px;
}