.image2 {
    height: 150px;
    z-index: 100;
    position: absolute;
    margin-top: -450px;
    margin-left: -210px;
}

.image3 {
    height: 150px;
    z-index: 100;
    position: absolute;
    margin-top: -350px;
    margin-left: -250px;
}

.image4 {
    height: 150px;
    z-index: 100;
    position: absolute;
    margin-top: -230px;
    margin-left: -230px;
}

.image5 {
    height: 150px;
    z-index: 100;
    position: absolute;
    margin-top: -130px;
    margin-left: -245px;
}